# Travis build integration.
# https://docs.travis-ci.com/

language: c

os:
  - linux

compiler:
  - gcc
  - clang
  - musl-gcc

addons:
  apt:
    packages:
    - musl-tools

notifications:
  irc:
    channels:
      - "irc.libera.chat#openrc"
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false

before_install:
  - sudo apt-get update
  - sudo apt-get install -y shellcheck

script:
  - ./ci/travis.sh
