bootmisc
devfs
dmesg
fsck
hostname
killprocs
local
localmount
mount-ro
netmount
root
savecache
swap
sysctl
urandom
hostid
moused
newsyslog
pf
rarpd
rc-enabled
rpcbind
savecore
syslogd
sysfs
adjkerntz
devd
dumpon
ipfw
mixer
nscd
powerd
syscons
net.lo
ttys
swap-blk
wscons
consolefont
hwclock
keymaps
modules
mtab
numlock
procfs
termencoding
devdb
