bootmisc
fsck
hostname
local
localmount
loopback
moused
netmount
network
root
savecache
swap
swapfiles
sysctl
urandom
devfs
dmesg
hwclock
consolefont
keymaps
killprocs
modules
mount-ro
mtab
numlock
procfs
staticroute
sysfs
devdb
hostid
newsyslog
pf
rarpd
rc-enabled
rpcbind
savecore
swap-blk
swclock
syslogd
termencoding
ttys
wscons
tmpfiles.dev
tmpfiles.setup
